annotated-types
anyio
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
cryptography
cymem
distro
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
filelock
h11
httpcore
httpx
idna
Jinja2
jiter
MarkupSafe
murmurhash
numpy
openai
packaging
phonenumbers
preshed
presidio_analyzer
presidio_anonymizer
pycparser
pydantic
pydantic_core
PyYAML
regex
requests
requests-file
setuptools
smart_open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
thinc
tldextract
tqdm
typer-slim
typing-inspection
typing_extensions
urllib3
wasabi
weasel
wrapt
